
    h1 {
        text-align: center;
    }
    .center {
      text-align: center;
  }

  .center button {
      margin: 0 auto;
  }

  .big-button {
            width: 250px;
            height: 70px;
            font-size: 24px;
            padding: 15px;
            margin-left: auto;
      
  }

  .panel {

    border: 5px solid #ccc;
    padding: 20px;
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

  
  }
  .panel-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .panel-content {
    margin-bottom: 10px;
  }
  .panel-image {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }


