/* Styles for the center div */
.center {
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the big buttons */
.big-button {
  padding: 2% 4%; /* Adjust the percentages as needed */
  margin: 0 1%; /* Adjust the percentages as needed */
}

/* Styles for the panel container */
.panel-container {
  display: flex;
  flex-wrap: wrap; /* Allow panels to wrap onto a new line */
  margin-bottom: 2%; /* Adjust the percentage as needed */
}

/* Styles for the panel */
.panel {
  position: relative; /* Add position relative to the panel */
  display: inline-block; /* Add display inline-block to the panel */
  border: 2px solid black;
  padding: 7%;
  margin-bottom: 1%; /* Adjust the percentage as needed */
  width: calc(33.33% - 2%); /* Adjust the width to fit three panels per row */
  box-sizing: border-box; /* Include border and padding in the width calculation */
}

/* Styles for the panel header */
.panel-header {
  position: relative; /* Add position relative to the panel header */
  display: inline-block;
  top: 0;
  left: 0;
  margin-top: 0; /* Adjust the margin as needed to align the panel header */
  text-align: right;
}

/* Styles for the tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1%; /* Adjust the percentage as needed */
  overflow-y: scroll; /* Add scroll for vertical overflow */
  max-height: 200px; /* Set a fixed height for the table */
}

table th,
table td {
  padding: 1%;
  text-align: left;
}

/* Styles for the music controls panel */
.music-controls-panel {
  width: 100%; /* Adjust the percentage as needed */
  height: 30px;
  float: left;
  margin-right: 1%; /* Adjust the percentage as needed */
}

/* Styles for the h1 heading */
h1 {
  text-align: center;
}

/* Optional: Additional custom styles can be added as needed */

.panel-image {
  width: 40%; /* (200 / 1000) * 100 = 20 */
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.clickable-table-row{
  cursor: pointer;
}


