/* Styles for the center div */
.center {
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the big buttons */
.big-button {
  padding: 2% 4%;
  margin: 0 1%;
}

/* Styles for the panel container */
.panel-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
.panel-container-enjoyer-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align the panels */
  margin-bottom: 2%;
}


/* Styles for the panel header */
.panel-header {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  margin-top: 0;
  text-align: right;
}

/* Styles for the panel */
.panel-scrollable {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  padding: 7%;
  margin-bottom: 1%;
  width: calc(33.33% - 2%);
  box-sizing: border-box;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 100%;
}
.panel {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  padding: 7%;
  margin-bottom: 1%;
  width: calc(33.33% - 2%);
  box-sizing: border-box;
  height: 400px;
  overflow: hidden;

}
.panel-enjoyer-profile {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  padding: 7%;
  margin-bottom: 1%;
  width: calc(33.33% - 2%);
  box-sizing: border-box;
  height: 400px;
  overflow: hidden;

}

.panel-scrollable-single {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  padding: 7%;
  margin-bottom: 1%;
  width: calc(100% - 2%);
  box-sizing: border-box;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 100%;
}


/* Styles for the tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1%;
  max-height: 100%;
}

table th,
table td {
  padding: 1%;
  text-align: left;
}

.table-wrapper {
  overflow-y: scroll;
  max-height: 100%;
}

/* Styles for the music controls panel */
.music-controls-panel {
  width: 100%;
  height: 30px;
  float: left;
  margin-right: 1%;
}

/* Styles for the h1 heading */
h1 {
  text-align: center;
}

/* Optional: Additional custom styles can be added as needed */

.panel-image {
  width: 40%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.clickable-table-row{
  cursor: pointer;
}


